<div class="mx-auto mt-5" style="width: 30rem;">
  <h5 class="title">Login</h5>
  <div class="card border-secondary">
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="authenticate(loginForm.value)">
        <div class="form-group">
          <label>User Id</label>
          <input type="text" name="userId" class="form-control border-secondary" ngModel />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="userPassword" class="form-control border-secondary" ngModel />
        </div>
        <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block mt-5 mb-2">
          Login
        </button>
        <div class="alert alert-danger text-center" [hidden]="!errorMessage"> {{errorMessage}}</div>

      </form>
    </div>
  </div>
</div>