<li class="nav-item dropdown pr-2">
    <small
      class="nav-link dropdown-toggle c-pointer"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{userName | uppercase }}
    </small>
    <div class="dropdown-menu fade-up" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/user" *ngIf="isProfileAvailable"> Profile </a>
      <div *ngIf="isAdmin">
        <a class="dropdown-item" routerLink="/admin-panel/department" > + Department </a>
        <a class="dropdown-item" routerLink="/admin-panel/research-lab" > + Research Lab </a>
        <a class="dropdown-item" routerLink="/admin-panel/user" > + User </a>
      </div>
      <a class="dropdown-item" routerLink="/user/update-password"> Settings </a>
      <a class="dropdown-item" (click) = "logout()"> Logout </a>
    </div>
  </li>
  