<div class="container pt-5">
    <h6 class="mb-3">MY PROJECTS</h6>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="table-responsive" *ngIf="projects?.length; else Emptybox">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Project Title</th>
                                <th scope="col">Status</th>
                                <th scope="col">Started On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projects; index as i"
                                routerLink="/project/{{project.projectId}}">
                                <th scope="row">{{i+1}}</th>
                                <td>{{project.projectTitle}}</td>
                                <td>{{project.status}}</td>
                                <td>{{project.createdAt | date:'mediumDate'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #Emptybox>
                    <app-empty-layout></app-empty-layout>
                </ng-template>
            </div>

            <h6 class="mt-5 mb-3">MY PUBLICATIONS</h6>
            <div class="card">
                <div class="table-responsive" *ngIf="publications?.length; else Emptybox">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Type</th>
                                <th scope="col">Paper Title</th>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let publication of publications; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{publication.publicationType}}</td>
                                <td>{{publication.paperTitle}}</td>
                                <td>{{publication.yearOfPublication | date:'yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #Emptybox>
                    <app-empty-layout></app-empty-layout>
                </ng-template>
            </div>

            <h6 class="mt-5 mb-3">FUNDING DETAILS</h6>
            <div class="card">
                <div class="table-responsive" *ngIf="fundingProjects?.length; else Emptybox">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name of Grant/Fund</th>
                                <th scope="col">Type</th>
                                <th scope="col">status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fundingProject of fundingProjects; index as i"
                                routerLink="/funding/{{fundingProject.isReceivedFund?'received':'applied'}}/{{fundingProject.fundingProjectId}}">
                                <th scope="row">{{i+1}}</th>
                                <td>{{fundingProject.nameOfGrant}}</td>
                                <td>{{fundingProject.fundingType}}</td>
                                <td>{{fundingProject.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-template #Emptybox>
                    <app-empty-layout></app-empty-layout>
                </ng-template>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Basic profile
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="../../../../assets/image/avatar.png" class="card-img-top" alt="avatar">
                            </div>
                            <div class="col-md-8">
                                <h6 class="card-title">{{userName}}</h6>
                                <small class="card-text text-muted">{{userId}}</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5>
                            <small>
                                Designation
                                <span class="float-right card-title text-capitalize">{{designation}}</span>
                            </small>
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <h5>
                            <small>
                                Department
                                <span class="float-right card-title">{{departmentId}}</span>
                            </small>
                        </h5>
                    </li>
                </ul>
            </div>

            <table class="table table-hover table-bordered mt-5">
                <tbody>
                    <tr>
                        <td>Notification <b>{{notificatation}}</b></td>
                    </tr>
                    <tr routerLink="/project/add">
                        <td><b>Add Project</b></td>
                    </tr>
                    <tr routerLink="/funding/received">
                        <td><b>Add Received Funding</b></td>
                    </tr>
                    <tr routerLink="/publication/add">
                        <td><b>Add Publication</b></td>
                    </tr>
                    <tr>
                        <td><b>Add Conference</b></td>
                    </tr>
                    <tr>
                        <td><b>Add MOU & Collaboration</b></td>
                    </tr>
                    <tr>
                        <td><b>Add Consultancy</b></td>
                    </tr>
                    <tr>
                        <td><b>Add Patent</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>