<div class="container pt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive"  *ngIf="projects.length; else Emptybox">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">S. No</th>
                            <th scope="col">Project Id</th>
                            <th scope="col">Project Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Started On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projects; index as i" routerLink="/project/{{project.projectId}}">
                            <th scope="row">{{i+1}}</th>
                            <td>{{project.projectId}}</td>
                            <td>{{project.projectTitle}}</td>
                            <td>{{project.status}}</td>
                            <td>{{project.createdAt | date:'mediumDate'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #Emptybox>
                <div class="empty-content">
                    <img src="../../../../assets/image/empty-box.png"  alt="Empty content :("/>
                </div>
            </ng-template>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Basic profile
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="../../../../assets/image/avatar.png" class="card-img-top" alt="avatar">
                            </div>
                            <div class="col-md-8">
                                <h6 class="card-title">{{userName}}</h6>
                                <small class="card-text text-muted">{{userId}}</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5>
                            <small>
                                Designation
                                <span class="float-right card-title text-capitalize">{{designation}}</span>
                            </small>
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <h5>
                            <small>
                                Department
                                <span class="float-right card-title">{{departmentId}}</span>
                            </small>
                        </h5>
                    </li>
                </ul>
            </div>

            <div class="card mt-5">
                <div class="card-header">
                    Contribution
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5><small>Department projects
                                <span class="float-right badge badge-pill badge-warning p-2">{{projects.length || 0}}</span>
                            </small>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
</div>