<div class="card border-secondary mb-1">
    <div class="card-body" *ngIf="isChecked; else Pending">
        <h5 class="card-title">Application Submit</h5>
        <div>
            <input type="file" id="checkeddoc" name="filename">
            <div>
                <small class="text-muted"> Please upload document before deadline as given in the funding website</small>
            </div>
        </div>
    </div>

    <ng-template #Pending>
        <div class="card-body">
            <h5 class="card-title text-muted">Application Submit</h5>
            <p class="text-muted"> Will be available if Funding status become Checked</p>
        </div>
    </ng-template>

</div>

