<div class="card">
    <div class="card-header">Fundings</div>
        <div class="card-body">
                <div *ngFor="let fundingProject of fundingProjects">
                    <div class="c-pointer" routerLink="/funding/{{fundingProject.isReceivedFund?'received':'applied'}}/{{fundingProject.fundingProjectId}}" >
                        <span class="disc">&#9673;</span> 
                        <span class="card-text text-muted" >{{  fundingProject?.nameOfGrant  }}</span>
                    </div>
                </div>
        </div>
    </div>