<div class="card">
    <div class="card-header">{{isEditMode?'Add Contributor':'Contributors'}}</div>
    <form [formGroup]="contributorForm">
        <div class="card-body">
            <span class=" mr-2 mt-2" *ngFor="let contributor of contributors">
                <span #userId class="badge badge-pill badge-secondary p-1">
                    {{ contributor }}
                </span>
            </span>
            <div *ngIf="newlyAddedContributors">
                <span class="mr-3 mt-2" formArrayName="newlyAddedContributors"
                    *ngFor="let control of newlyAddedContributors.controls; let i = index">
                    <span class="badge badge-pill badge-secondary c-pointer p-1">
                        {{ control?.value }}
                        <span class=" badge badge-dark badge-pill" (click)="deleteNewcontributor(i)">X</span>
                    </span>
                </span>
            </div>
        </div>

        <div *ngIf="isEditMode">
            <input 
                placeholder="Search contributorId..." 
                type="text" 
                class="form-control"
                autocomplete="off"
                formControlName = "newContributor"
                (keyup) = "getMatchingIds()"
            />
            <span *ngIf="contributorSearchList">
                <li class="c-pointer list-group-item list-group-item-action list-group-item-dark"
                    formArrayName="contributorSearchList"
                    *ngFor="let control of contributorSearchList.controls; let i = index" 
                    (click)="addNewContributor(i)"
                >
                {{control?.value}} 
                </li>
            </span>
        </div>
    </form>
</div>