<div class="container">
  <div class="mt-5">
    <app-snapshot-tiles [snapshot] = "overAllSnapshot"> </app-snapshot-tiles>
  </div>
  <div class="row mt-3">
    <div class="col-md-4 col-sm-12" *ngFor="let department of departmentSnapshot">
      <div class="card mb-5 c-pointer" routerLink="/department/{{department.departmentId}}">
        <div class="card-body same-height">
          <span class="title-2">{{department.departmentName}}</span>
        </div>
        <div class="row mb-2 pl-3 pr-3 text-secondary">
          <div class="col-4 text-center">
            <h2 class="count">{{department.completedCount}}</h2>
            <small class="card-text">Completed</small>
          </div>
          <div class="col-4  text-center">
            <h2 class="count">{{department.onGoingCount}}</h2>
            <small class="card-text">Ongoing</small>
          </div>
          <div class="col-4  text-center">
            <h2 class="count">{{department.contributors}}</h2>
            <small class="card-text">Contributors</small>
          </div>
        </div>
      </div>
    </div>
  </div>