<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink = "/home">Home</a></li>
        <li class="breadcrumb-item active" >{{department.name}}</li>
    </ol>
  </nav>

<div class="container">
<div class="title">{{department.name}}</div>
    <div class="row">
        <div *ngFor="let research of researches"  class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src={{tempImgUrl}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ research.name }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a routerLink="./{{research.id}}" class="btn btn-primary">View projects</a>
                    </div>
                </div>
        </div>
    </div>
</div>