/* You can add global styles to this file, and also import other style files */
.title{
    font-size: 1.7rem;
    font-weight: 350;
    padding-bottom: 5vh;
}
a{
    text-decoration: none !important;
}