/* You can add global styles to this file, and also import other style files */
.title{
    font-size: 1.7rem;
    font-weight: 350;
    padding-bottom: 5vh;
}

.title-2{
    font-size: 1.3rem;
    font-weight: 420;
    padding-bottom: 5vh;
}

.required{
    color:red;
}

a{
    text-decoration: none !important;
    color: inherit;
}

.c-pointer{
    cursor: pointer;
}

.bottom-section  {
    z-index: 2;
    position: fixed;
    bottom: 4vh;
    right: 6vw;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1e4175 !important;
    color: #ffcc29 !important;
}

.navbar-custom { 
    background-color: #1e4175; 
}

.nav-item .nav-link, .navbar-brand { 
    color: #ffcc29 !important; 
} 
.dropdown-menu
{
	border:none;
	display: block;
	height: 0px;
	overflow: hidden;
	padding: 0px;
    top: 60px;
    background-color: #fdfdfd;
    transition: all 350ms;
}
.dropdown:hover .dropdown-menu
{
	display: block;
    height: inherit;
    top: 38px;
}

.dropdown-item{
    padding: 15px;
    border-bottom: 1px #ececec solid;
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: #aaaaaa;
    color:#ffffff
}

.empty-content{
    text-align: center;
    opacity: 0.2;
    margin: 20vh auto;
}

input[type="password"]{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
}

.disc{
    font-weight: 500;
    margin-right: 5px;
}